.row {
    --bs-gutter-x: 0rem;
}

.btn-text{
    text-decoration: none;
    color: #0E8A8A !important;
    display: block;
}
.btn-text:hover{
    color: #fff !important;
}
.white-btn{
    border:1px solid #0E8A8A;
}
.white-btn:hover{
    background-color: #0E8A8A !important;
}